@import "../../../styles/sass/theme-styles/variables";

.contact-form-wrap {
  box-shadow: 0 0 0 0!important;
  border: 0 !important;
  }

  .contact-form {
    padding: 5px 40px 30px !important;
  }
  